template(no-model)
	require(from="./pomodoro-clock/pomodoro-clock")
	style.
		html,body,body > div,body > div > .init-app{
			height:100%;
			margin:0px;
			padding:0px;
		}
	.init-app
		pomodoro-clock