@mixin mix-align-box{
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin mix-transition{
	transition: width .3s, height .3s;
}

.fashion-clock{
	@include mix-align-box;
	width:100%;
	height:100%;
	border-radius: 20%;
	overflow: hidden;
	padding: 15px;
	box-sizing:border-box;
	background: linear-gradient(to bottom, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	>.hour-box{
		@include mix-align-box;
		@include mix-transition;
		height:80%;
		width: 80%;
		background-color: rgba(255,255,255,.2);	
		border-radius: 50%;
		box-shadow: 0 5px 8px 3px rgba(0,0,0,.1);

		>.minute-box{
			@include mix-align-box;
			@include mix-transition;
			height:60%;
			width:60%;
			background-color: rgba(255,255,255,.4);	
			border-radius: 50%;

			>.second-box{
				@include mix-align-box;
				height:30%;
				width:30%;
				background-color: rgba(255,255,255,.8);				
				border-radius: 50%;
			}
		}
	}
}

