template
	require(from="./fashion-clock.scss")
	.fashion-clock
		.hour-box(style="${'width:'+this.hoursToPercent()+'%;height:'+this.hoursToPercent()+'%'}")
			.minute-box(style="${'width:'+this.minutesToPercent()+'%;height:'+this.minutesToPercent()+'%'}")
				.second-box(style="${'width:'+this.secondsToPercent()+'%;height:'+this.secondsToPercent()+'%'}")