.pomodoro-clock{	
	width:100%;
	height:100%;
	
	>.box-clock{
		width: 80vw;
		height: 80vw;
		padding:0;
		padding-top:40px;
		margin:0px auto;
	}
	>.box-control{		
		color:#fff;
		width:80%;
		margin-left:10%;
		background-color:#929494;
		border-radius:5px;
		margin-top:260px;
		z-index:15;
		position:absolute;
		bottom:40px;

		>.sub-box-control{
			padding:10px 40px 10px 40px;

			>label.display-minutes{
				text-align:center;				
				font-size:1.5rem;
				font-family:verdana;
				margin-bottom:5px;
			}
			>label.display-message{
				>textarea{
					width:100%;
					text-align:center;				
					font-size:1.5rem;
					font-family:verdana;
					margin-bottom:5px;
					background-color:transparent;
					border:none;
					color:#fff;
				}
			}
			>input[type="range"]{
				width: 100%;
				padding: 0px;
				margin: 0px;
			}
			>label{
				display:block;
				width: 100%;

				>input[type="color"]{
					width: 45px;
					background-color:transparent;
					border:none;
				}
				>span{
					vertical-align:top;
				}
			}
		}
	}
	>.box-backdrop{
		position:fixed;
		top:0px;
		left:0px;
		bottom:0px;
		right:0px;
		background-color:rgba(250,250,250,.6);
		z-index:14;
	}
}